Form Button {
    width: 100%;
}

h2 {
    color: #e1dfdf;
}

h6 {
    color: greenyellow;
}

hr.line {
    border: 1px solid #e1dfdf;

}



.chat {
    display:grid;
}

.leave-room {
    text-align: right;
    margin-bottom: 4px;
}

.user-list {
    float: left;
    background-color: #313131;
    color: #e1dfdf;
}

.message-container {
    background-color: rgb(37,40,42);
    border-radius: 5px;
    margin-bottom: 2px;
    height: 25em;
    overflow-y: auto;
}

.user-message {
    text-align: left;
    padding-right: 5px;
    margin-right: 0.3em;
    margin-top: 0.3em;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
           
}
.other-message {
    text-align: left;
    padding-right: 5px;
    margin-left: 0.3em;
    margin-top: 0.3em;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    max-width: 60%;
}

.message {
    display: block;
    padding: 5px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    margin-top: 3px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;         
}

.dark-input{
    background-color: #333;  
    color: rgb(209,204,201);          
    border: 1px solid #555;
}
.dark-input::placeholder { 
    color: rgb(209,204,201);
    opacity: 0.4; 
}
.dark-input:focus{
  box-shadow: #313131;
  box-decoration-break: slice;
  background-color: #313131;
  color: #e1dfdf;
}
.from-user {
    font-size: small;
    margin-bottom: 3px;
    margin-right: 5px;
    color: rgb(171, 173, 173)
}
.message-input{
    background-color: rgb(37,40,42);
    border-color: rgba(27,30,31, 0.5);
    color: #e1dfdf;
}
.message-input:focus{
  background-color: #313131;
  color: #e1dfdf;
}
.message-send{
    background-color: rgb(27,30,31);
    border-color: rgba(27,30,31, 0.5);
    border: none;

}
.card-title{
  color: #e1dfdf;
  border: none;
}
.white-color{
    color: #e1dfdf;
}
.bottom-right{
    right: 6px;
    bottom: 2px;
}

.chat-container {
    display: flex;
    width: 100%;
    flex-direction:column-reverse;
}

@media screen and (min-width: 768px) {     .chat-container {
        flex-direction:column-reverse; 
    }
}
