Form Button {
    width: 100%;
}

h2 {
    color: #e1dfdf;
}

h6 {
    color: greenyellow;
}

hr.line {
    border: 1px solid #e1dfdf;

}



.chat {
    display:grid;
}

.leave-room {
    text-align: right;
    margin-bottom: 4px;
}

.user-list {
    float: left;
    background-color: #313131;
    color: #e1dfdf;
}

.message-container {
    background-color: rgb(37,40,42);
    border-radius: 5px;
    margin-bottom: 2px;
    height: 25em;
    overflow-y: auto;
}

.user-message {
    text-align: left;
    padding-right: 5px;
    margin-right: 0.3em;
    margin-top: 0.3em;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
           
}
.other-message {
    text-align: left;
    padding-right: 5px;
    margin-left: 0.3em;
    margin-top: 0.3em;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    max-width: 60%;
}

.message {
    display: block;
    padding: 5px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    margin-top: 3px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;         
}

.dark-input{
    background-color: #333;  
    color: rgb(209,204,201);          
    border: 1px solid #555;
}
.dark-input::placeholder { 
    color: rgb(209,204,201);
    opacity: 0.4; 
}
.dark-input:focus{
  box-shadow: #313131;
  box-decoration-break: slice;
  background-color: #313131;
  color: #e1dfdf;
}
.from-user {
    font-size: small;
    margin-bottom: 3px;
    margin-right: 5px;
    color: rgb(171, 173, 173)
}
.message-send{
    align-self: auto;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    display: flex;
}
.dark-input-menu .no-border{
    border: none;
}
.dark-input:hover{
    background-color: #434343;
    color: rgb(219,213,217);
}
.dark-input-menu{
    background-color: #333;
    border: none;
}
.message-input{
    background-color: rgb(37,40,42);
    border-color: rgba(27,30,31, 0.5);
    color: #e1dfdf;
    box-sizing: border-box;
    overflow-y: auto;
    resize: vertical;
    scrollbar-width: none;
    width: 102.2%;
    height: 2.75em;
    -ms-overflow-style: none;
}
textarea.form-control.message-input {
    min-height: 0;
}

.message-input::-webkit-scrollbar {
    width: 0;
}
.message-input:focus{
  background-color: #313131;
  color: #e1dfdf;
}
.card-title{
  color: #e1dfdf;
  border: none;
}
.white-color{
    color: #e1dfdf;
}
.card-hoverable {
    cursor: pointer;
    transition: border 0.3s ease-in-out; 
}
.dark-modal .modal-content {
    background-color: #313131;
    color: #fff;
    background-color: rgb(37,40,42);
    
}

.dark-modal .modal-header,
.dark-modal .modal-footer {
    border-color: #313131;
}

.card-hoverable-error {
    cursor: pointer;
    transition: border 0.3s ease-in-out; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.card-hoverable-error:hover {
    border: 2px solid #e1dfdf; 
}
.card-hoverable:hover {
    border: 2px solid rgb(0,123,255);
}

.bottom-right{
    right: 6px;
    bottom: 2px;
}

.chat-container {
    display: flex;
    width: 100%;
    flex-direction:column-reverse;
}

.status-box {
    display: flex;
    align-items: left;
    justify-content: left;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid #555;  
    transition: background-color 0.3s, color 0.3s;
}

.status-box.connecting {
    background-color: #2c2c2c;  
    color: #888;  
}

.status-box.connected {
    background-color: #28a745;  
    color: #fff;  
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.status-box.connecting .status-text {
    animation: pulse 1.5s infinite;
}


@media screen and (min-width: 768px) {     .chat-container {
        flex-direction:column-reverse; 
    }
}
@media (max-width: 576px) {
    .adaptative-title{
        font-size: large;
    }
    .leave-room-btn {
        font-size: 12px;
        padding: 5px 10px;
    }

    .room-title {
        font-size: 16px;
        margin: 5px 0;
    }

    .connected-users-dropdown .btn {
        font-size: 12px;
    }
    .connection-status {
        width: 50px;  
        top: 5px;
    }
}
.dot {
     width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    animation: dotPulse 1s infinite alternate;
    }
.dot:nth-child(2) {
    animation-delay: 0.2s;
    }
.dot:nth-child(3) {
    animation-delay: 0.4s;
    }
@keyframes dotPulse {
    from {
    opacity: 1;
    }
    to {
    opacity: 0.3;
    }
}
